body{
  color:#333;
  font-family: Verdana, sans-serif;
  margin:0;
}

header{
  /* background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px; */
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.area {
  position: relative;
  width: 450px;
  /*牧場ごと移動したい場合は位置を指定します*/
  left: 30px;
  /* 以下の設定は分かりやすいようにするためで必須ではありません。 */
  align-items: center;
}

.container{
  /* background-color:pink; */
  width: 400px;
  margin-left:auto;
  margin-right:auto;
  /* display: flex; */
  align-items: center;
}

.icon{
  /* background-color:skyblue; */
}

.icon img{
  border-radius: 50%; //指定した画像の角を丸くする。夕日LOGO 
  border-width: 5px;  //枠線を付ける夕日LOGOの周りの線
  border-style: solid;
  border-color: rgb(100, 232, 255);
}

.info{
  /* background-color:tomato; */
  margin-left:32px;
}

.info h1{
  font-weight: nomal;
  font-size: 24px;
  margin: 0;
}

.info p{
  margin: 0;
  margin-bottom: 16px;
}

.info ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.info ul li{
  margin-right: 8px;
}

.works{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.works > h1{
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.works > section{
  margin-bottom: 60px;
}

.works > section > h1 {
  font-weight: normal;
}

.works p {
  line-height: 1.8;
}

footer p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
  color: gray;
}
